:root{
    --font-color: hsl(0, 0%, 59%);
    --secondary-font-color: hsl(0, 0%, 17%);
    --font-size: 18px;
    --mobile-padding: 6vw;
    --desktop-padding: 3vw;
    --mobile-margin: 6vw;
}

@font-face{
    font-family: Rubik;
    src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}