.address-info{
    margin: var(--mobile-margin);
    text-align: center;
    box-shadow: 0 0 1px 0.1px black;
    padding: var(--mobile-padding);
    border-radius: 1rem;
    position: relative;
    top: -10rem;
    background: white;
}

.info-data{
    margin: var(--mobile-margin) 0;
}

.info-data:first-child{
    margin-top: 0;
}

.info-data:last-child{
    margin-bottom: 0;
}

.info-name{
    font-size: .8rem;
    color: rgb(121, 121, 121);
}

.info-value{
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}