.address-info{ 
    width: 88vw;
    height: auto;
    text-align: center;
    box-shadow: 0 0 1px 0.1px black;
    padding: var(--mobile-padding);
    border-radius: 1rem;
    position: absolute;
    left: var(--mobile-margin);
    top: 20vh;
    background: white;
    z-index: 2;
}

.info-data{
    margin: var(--mobile-margin) 0;
}

.info-data:first-child{
    margin-top: 0;
}

.info-data:last-child{
    margin-bottom: 0;
}

.info-name{
    font-size: .7rem;
    color: var(--secondary-font-color);
    margin-bottom: 0.5rem;
}

.info-value{
    font-size: var(--font-size);
    font-weight: bold;
    color: var(--primary-font-color);
}