@import './styles/_variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Rubik,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size);
  color: var(--primary-font-color);
  width: 100vw;
  height: 100vh;
}

.App{
  /* position: relative; */
  font-family: Rubik;
  /* width: 1440px; */
  margin: auto;
  height: 100vh;
  min-height: 568px;

}

@import './styles/header.css';
@import './styles/addressInfo.css';
@import './styles/mapSection.css';
